/**
 * styles.css
 * 
 * kiwi
 * 
 * Global CSS.
 */

.nav a {
	color: #5a5a5a;
	font-size: 13px;
	font-weight: bold;
	padding: 16px 12px;
	text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url("kiwi.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}