/**
 * styles.css
 * 
 * kiwi
 * 
 * Global CSS.
 */

.nav a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 16px 12px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url("kiwi.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron p {
  font-size: 20px;
  color: #404440;
}

.nav .navbar-nav .active a:hover {
  color: #ffbcf0;
  background-color:rgba(76,79,75, 0.5);
}

.glyphicon .glyphicon-leaf a:hover {
  color: #ffbcf0;
  background-color:rgba(76,79,75, 0.5);
}





