/**
 * styles.css
 * 
 * kiwi
 * 
 * Global CSS.
 */

.nav a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 12px;
  text-transform: uppercase;
  background-color:rgba(174,218,188, 0.5);
}

.nav li {
  display: inline;
}

.quotes .jumbotron {
  background-image: url("../images/fruits+.jpg");
}

.jumbotron .main {
  background-image: url("../images/kiwi+.jpg");
}

.jumbotron {
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron p {
  font-size: 20px;
  color: #404440;
}

.nav .navbar-nav  a:hover {
  color: #ffbcf0;
  background-color:rgba(76,79,75, 0.5);
}

#bottom {
  text-align: center;
}

.form-control {
	background-color: rgba(174,218,188, 0.5);
	color:  #fff;
}

.form-control:focus {
  border-color:rgba(76,79,75, 0.5);
  background-color:rgba(76,79,75, 0.5);
}

.form-control:hover {
  background-color:rgba(76,79,75, 0.5);
}

.form-control::-webkit-input-placeholder {
	color:#fff;
}

.form-control:focus::-webkit-input-placeholder { 
  color:transparent; 
}

.btn-default:hover{
  color:#ffbcf0;
  background-color:rgba(76,79,75, 0.5);

}

.icon-bar {
  color: white;
  border-color: white;
  background-color: white;
}

.navbar-brand {
  background-color:rgba(168,168,168, 0.5) !important;
}
